html, body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    border: 1px solid #f68810 ;
    background-color: #f68810;
    font-size: x-large;
    margin:auto;
    
}
header p {
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff; 
    text-align: left;
    margin-left: 2%;

}

.nav {
    text-align: right;
    height: 70px;
    line-height: 60px;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu {
    float: right;
    margin: 0 20px 0 0;
    position: relative;
}

.menu a {

    text-decoration: none;
    color: #444;
    margin: 0;
    font-size: large;
    line-height: 60px;
}

label {
    margin: 0 20px 0 0;
    font-size: 30px;
    line-height: 60px;
    color: #070809;
    display: none;
}
#toggle {
    display: none;
}

 .menu .dropdown {
    display: none;
    position: absolute;
    top: 60%;
    left: 10px;
    line-height: 0;
 }

 .menu .dropdown li {
         width: 100%;
         margin-bottom: 3px; 
     }

.menu:hover .dropdown {
        display: block;
    } 
 .nav a:hover, .nav a:focus {
        color:  #f1c087;
        }  


        footer ul li {
            display: block;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

 #nav_list ul {
 list-style-type: none;
 margin-bottom: 1.5em;
 margin-right: 100px;
 margin-left: 250px;
 }

 #nav_list ul li {
width: 180px;
margin-bottom: 0.5em;
margin-right: 10px;
border: none
 }
 #nav_list ul li a {
    display: block;
    padding: auto;
    text-decoration: none ;
    color: #070809;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
 }
 #nav_list ul li a.current {
    background-color: #9ac6f0;
 }

 #nav_list ul ul {
    display: block; /* Hide sub-menus by default */
    top: 0%;
    margin: 10px;
}
#nav_list ul ul a {
font-size: small;
}
#nav_list ul ul li {
float: none;
}


@media only screen and (max-width: 768px) {
    header p {
        font-size: x-large;
        font-weight: bold;
        color: #ffffff; 
        text-align: center;
    
    }
    .menu a {

        text-decoration: none;
        color: #444;
        text-align: center;
        font-weight: bold;
        margin: 0 10pt 0 15pt;
        font-size: large;
        line-height: 60px;
        m
    }

    #hideitem {
        display: none;
    }
    label {
        display: block;
        cursor: pointer;
        margin-right: 15%;
    }
    .menu {
      text-align: center;
      width: 100%;
    
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #9ac6f0;
        margin: 0;
    }
    #toggle:checked + .mobilemenu {
        display: block;
    }
    

}
