h1 { color: #ff6600;
text-align: center;
margin-left: 190px;
}
h2 { text-align: center;}
#para1::first-letter {
    font-size: x-large;
    font-weight: bold;
    color: #2c8bea;
    
}

.para { text-indent: 2em;}
main p {
    width: 78%;
    height: auto;
    padding: auto;
    margin: 10pt;
    margin-left: 130pt;
    border: none; 
}
.grid {
    display: grid;
    background-color: #d7dee5;
    grid-template-rows: auto auto auto auto auto; /* Define 5 rows */
    grid-template-columns: 2fr 2fr 2fr 2fr; /* Define 4 columns */
  }
  main {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  img {
    grid-row: 1;
    grid-column: 3/span 4;
    margin-top: auto;
    width: 400px;
    height: 450px;
    margin-left: 250px;
    margin-top: 50px;
  }
  
  blockquote {
    grid-row: 2;
    grid-column: 1 / span 4;
    font-size: x-large;
    margin-left: 300px;
  }
 h2 {
  grid-row: 3;
  grid-column: 1 / span 4
 }

 .photo-gallery {
  grid-row: 4;
  grid-column: 1 / span 4;
 }
 .photo-gallery img {
  margin-top: auto;
  width: 200px;
  height: 250px;
  margin-left: 120px;
  margin-top: 20pt;
 }

  footer{
    grid-row: 5;
    grid-column: 1 / span 2;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: medium;
  }
  #quicknav {
    grid-row: 5;
    grid-column: 4;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    font-size: large;
    font-weight: bold;

  }
  #nav_list {
    grid-row: 5;
    grid-column: 4;

  }

  @media only screen and (max-width: 959px) {
  
  }


  @media only screen and (max-width: 767px) {
    header {
      text-align: center;
      font-size: medium;
      margin-left: 10pt;
      width: 720px;
    }
  
    #para1::first-letter {
      font-size: large;
      font-weight: normal;
    }
  
    .grid {
      background-color: #ffffff;
      grid-row: auto auto auto auto auto auto auto auto;
      grid-template-columns: 1fr 1fr; 
    }

    #myImage {
      display: block;
      grid-row: 1;
      grid-column: 1 / span 2;
      width: 25%;
      height: 25%;
      margin-top: 5pt;
    }
   h1 {
      grid-row: 2;
      grid-column: 1 ;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      width: 60%;
      margin-left: 80px;
      margin-top: 10% ;
      float: center;
      padding-top: 100pt;
   }
    main p {
      grid-row: 3; 
      grid-column: 1 / span 2;
      margin-right: 0;
      width: 60%;
      margin-top: 20px;
      margin-left: 90px;
      margin-bottom: 20pt;
      font-size: 1.20em;
      text-align: center;
    }
  
    blockquote {
      grid-row: 4; 
      grid-column: 1 / span 2;
      font-size: 1.10em ;
      width: 100%;
      margin-left: 70pt;
      margin-bottom: 10px;
    }
    h2 {
      grid-row: 5;
      grid-column: 1 / span 2;
      text-align: center;
      margin-right: 80px;

    }
    .photo-gallery img {
      margin-top: 50pt;
      margin-left: 90pt;
      grid-row: 6 / span 7;
      grid-column: 1 / span 2;
      
    }

    footer {
      grid-row: 8;
      grid-column: 1 ;
      font-size: 1.25em;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 70pt;
    }
    #nav_list {
      grid-row: 8;
      grid-column: 2 ;
      margin-right: 100px;
      margin-top: 0px;
      font-size: 1.25em;

    }
  }
