
@font-face {
  font-family: 'Bungee Spice', cursive;
  src: url(BungeeSpice-Regular.ttf);
}
h1 { color: #ffffff;
}
h2 {
text-align: center;
margin-left: 130pt;
font-family: 'Bungee Spice', cursive;
}


h3 { color: #ff6600;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-family: 'Bungee Spice', cursive;
}

#para1::first-letter {
    font-size: x-large;
    font-weight: bold;
    color: #2c8bea;
    }


.para { text-indent: 2em;}

main p {
    width: 80%;
    height: auto;
    padding: auto;
    word-spacing: normal;
    line-height: 20pt;
    margin-left: 130pt;
    border: none; 
}
.grid {
    display: grid;
    background-color: white;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 2fr 2fr 2fr 2fr; 
  }
 
  main {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  #myImage {
    grid-row: 1;
    grid-column: 3/span 4;
    margin-top: auto;
    width: 430px;
    height: 550px;
    margin-left: 180px;
    margin-top: 50px;
  }
  iframe {

    margin-left: 35%;
  }
  blockquote {
    grid-row: 2;
    grid-column: 1 / span 4;
    margin-left: 180px;
    font-size: medium;
    font-weight: bold;
  }
 h3 {
  grid-row: 4;
  grid-column: 1 / span 4;

 }

 .photo-gallery {
  grid-row: 5;
  grid-column: 1 / span 4;
 }

 .photo-gallery img {
  margin-top: auto;
  width: 200px;
  height: 250px;
  margin-left: 130px;
  margin-top: 20pt;
 }

 footer {
  padding-left: 10pt;
}

footer {
  border: 1px solid #f68810;
  background-color: #f68810;
  color:black;

}
  .icon {
    transition: 0.5s;
  }
  .icon:hover {
    transform: scale(2.2);
  }


  @media only screen and (max-width: 768px) {
    

   header {
      text-align: center;
      font-size: medium;
      margin-left: 10pt;
      width: 200%;
      font-size: medium;
      float: center;
    }
  
    .grid {
      background-color: #ffffff;
      grid-row: auto auto auto auto auto auto auto auto;
      grid-template-columns: 1fr 1fr; 
    }


   h2 {
      grid-row: 1;
      grid-column: 1/ span 2;
      font-size: 1.5em;
      font-weight: bold;
      margin-left: 58%;
      width: 100%;
      
   }

   h3 {
        margin-left: 60%;
   }
    main p {
      grid-row: 2; 
      grid-column: 1 / span 2;
      margin-right: 0;
      width: 150%;
      margin-top: 20px;
      margin-left: 90px;
      font-size: 1.20em;
      text-align: center;
      padding: 10pt;
    }
    iframe {
      margin-left: 35%;
      width: 130%;
    }
    #myImage {
      display: block;
      grid-row: 3;
      grid-column: 1 / span 2;
      margin-left: 35%;
      width: 130%;
      height: 60%;
    }
    blockquote {
      grid-row: 4; 
      grid-column: 1 / span 2;
      font-size: 1.50em ;
      text-align: center;
      width: 150%;
      margin-left: 30%;
    }
    h3 {
      grid-row: 5;
      grid-column: 1 / span 2;
      text-align: center;
      margin-left: 50%;
      width: 100%;
    }
    .photo-gallery img {
      margin-top: 60pt;
      margin-left: 45%;
      grid-row: 6 / span 7;
      grid-column: 1 / span 2;
      width: 115%;
      
    }

    footer {
      grid-row: 8;
      grid-column: 1 / span 2;
      font-size: 1.25em;
      margin-top: 20px;
      width: 200%;
    }

  }
  @media print {
    @page {
      margin: 1in;
    }
    .nav h1 {
      width: 100%;
      font-size: xx-large;
      font-weight: bold;
      margin-top: 0pt;
      padding: 10px;
      color: black;
    }

    h2 {
    width: 100%;
    margin-left: 50%;

    }
    h3 {
      display: none;
    }
    iframe {
      display: none;
    }

    #myImage {
      display: none;
    }
    .photo-gallery img {
      display: none;
    }
    body {
      color: black;
      font-family: sans-serif;
      background-color: none; 
    }
    main p {
      width: 160%;
      margin-left: 65px;
      font-size: 14pt;
      color: black;
    }
    main p a {
      display: none;
    }
    .nav ul.menu { 
      display: none;
    }
    blockquote {
      font-size: large;
      margin-left: 7%;
    }

    footer {
      color: black;
     text-align: center;
      font-size: 1.00em;
      margin-top: 5px;
      margin-left: 10pt;
      width: 95%;
    }

  }

