/* style for about page*/

h1 { color: #ffffff;
}

h2 {
  text-align: center;
  margin-top: 4%;
  font-family: 'Bungee Spice', cursive;
  }

.flex-container {
  display: flex;
  }

  .flex-container p {
    text-align: center;
    font-size: large;
    width: 60%;
 
  }

  .flex-container > div {
   background-color:#d7dee5;
   margin: 30pt;
   padding: 30pt;
  
 }
 


 #foodchain {
  width: 60%;
  height: 40%;
  margin-left: 18%;
 }
 
.project1 h4 {
margin-left: 16%

}
.project1 p {
margin-left: 18%;
}


#boardgame {
  width: 70%;
  height: 40%;
  margin-left: 14%;
}

.project2 h4 {
margin-left: 22%;

}

.project2 p {

  margin-left: 20%;
  }
  

#trainingprogram {
  width: 68%;
  height: 38%;
  margin-left: 15%;
}

.project3 h4 {
  margin-left: 20%;
  
  }

  .project3 p {

    margin-left: 20%;
   
    }
    

  footer {
    margin-top: 6%;
    padding-left: 10pt;
  }
  
  footer {
    border: 1px solid #f68810;
    background-color: #f68810;
    color:black;
  }
  
  .icon {
    transition: 0.5s;
  }
  .icon:hover {
    transform: scale(2.2);
  }



    @media only screen and (max-width: 768px) {
     
      .flex-container {
        display: flex;
        flex-direction: column;
        }
      
        .flex-container p {
          text-align: center;
          font-size: large;
          width: 60%;
       
        }
      }