@font-face {
  font-family: 'Bungee Spice', cursive;
  src: url(BungeeSpice-Regular.ttf);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#myImage {
  order: 2;
  margin: 20pt 20pt 20pt 100pt;
  height: 75%;
}

main {
  order: 1;
  padding-left:10%;
  
}


h1 {    color: #ffffff;}
h2 {    color: #ff6600;
  font-family: 'Bungee Spice', cursive;
}


footer {
  padding-left:10pt;

}

footer {
  border: 1px solid #f68810;
    background-color: #f68810;
    color:black;
  }
  .icon {
    transition: 0.5s;
  }
  .icon:hover {
    transform: scale(2.2);
  }

    @media only screen and (max-width: 768px) {
      .grid {
        grid-template-columns: 1fr;
      }
      footer {

        width: 150%;
      }
      header {

        width: 150%;
      }
    }