/* style for about page*/

h1 { color: #ff6600;
text-align: center
}
h2 {
text-align: center;
}
main {
    width: 90%;
    height: 100%;
    padding: auto;
    word-spacing: normal;
    line-height: 20pt;
    border: none; 
    margin: 20pt;
}
.grid * {
    background: #d4e4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

  }
.grid {
    grid-template-rows: 150%;
    grid-template-columns: 50fr 50fr 50fr; 
    grid-gap: 100pt;
  }

 #project1 {
     grid-row: 1;  
     grid-column: 1;
     width: 100%;
     height: 100%;
     margin: 50pt;
  

     
   
 }
 #project2 {
    grid-row: 1;  
    grid-column: 2;
    width: 100%;
    height: 100%;
    margin: 50pt;
    
}

#project3 {
    grid-row: 1;  
    grid-column: 3;
    width: 100%;
    height: 100%;
    margin: 50pt;
   
}


footer{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20pt;
    font-size: medium;
    width: 30%;
  }

  #quicknav {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 500pt;
    

  }
  #nav_list a {
    margin-left: 550pt;
    text-align: center;

  }



  @media only screen and (max-width: 768px) {

    header {
      text-align: center;
      font-size: medium;
      margin-left: 10pt;
      width: 100%;
    }
  
    .grid {
      background-color: #ffffff;
      grid-template-rows: auto auto auto auto auto ;
      grid-template-columns: 2fr 2fr; 
    }

 header {
      font-size: medium;
      margin: 5pt;
      width: 500pt;
      float: center;
    }

 
    #project1 {
        grid-row: 1;  
        grid-column: 1 /span 2;
        width: 200%;
        height: 700%;
        margin: 50pt;
     
      
    }
    #project2 {
       grid-row: 2;  
       grid-column: 1 /span 2;
       width: 200%;
       height: 700%;
       margin: 50pt;
       
   }
   
   #project3 {
       grid-row: 3;  
       grid-column: 1 /span 2;
       width: 200%;
       height: 700%;
       margin: 50pt;
      
   }
   

    footer {
      grid-row: 4;
      grid-column: 1;
      font-size: 1.00em;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 70pt;
    }

    #quicknav {
        grid-row: 4;
        grid-column: 2;
        text-align: center;
        margin-top: 90px;
        margin-left: 30%;
        font-size: large;
        font-weight: bold;
    }
    #nav_list {
      grid-row: 4;
      grid-column: 2;
      font-size: 1.00em;
    }

  }
